<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/assets/img/outside.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">We Smile</span>
                    <span class="section-heading-lower">When You Smile!</span>
                </h2>
                <p class="mb-3">Your oral health is important to us. We would love to partner with you and help you achieve the healthiest of smiles!
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="#!/contact">Visit Us Today!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">We are dedicated to providing you with friendly service, a welcoming atmosphere,
                        and above all else, exceptional dental care. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/assets/img/group-pic.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">About Southport Dental</span>
                        </h2>
                        <p> Dr. Joanne graduated from Acadia University in 1985 with a BSC. Degree. She then attended
                            Dalhousie University and graduated with her Doctor of Dental Surgery Degree in 1989.
                        </p>
                        <p class="mb-0"> She returned to her childhood neighborhood of Stratford to begin her dental
                            career. July 4th, 1989 she opened the doors to her dental practice with her team member
                            Mary Joy by her side. Twenty-nine years later they still enjoy working side by side to
                            provide the highest quality of dental care in a friendly caring compassionate manner. She
                            loves people and genuinely wants to make their dental experience the most positive it can
                            be. She has a passion for dentistry that continues to grow stronger each year. She is often
                            heard saying how much she loves the profession she chose almost 29 years ago!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<div class="card" >
    <div class="row">
        <div class="card-body col-sm-5 col-md-5" >
            <h5 class="card-title">Dr. Joanne Stewart</h5>
            <p class="card-text">test </p>
        
        </div>


    <div  id="carouselExampleIndicators" class="col-sm-7 col-md-7 carousel slide carousel-fade card-img-top" data-ride="carousel">
        <ol class="carousel-indicators">
            <li ng-repeat="slide in slidePaths" data-target="#carouselExampleIndicators" ng-click="setSliderIndex($index)" data-slide-to="{{$index}}" ng-class="{active:!$index}"></li>
        </ol>
        <div class="carousel-inner" >
            <div class="carousel-item " ng-class="{'active':!$index}" ng-repeat="slide in slidePaths">
                <div class="d-flex image-wrapper">
                    <img class="d-flex align-items-center w-100" ng-src="{{slide}}" alt="First slide">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
-->
<!--
<div class="row">
    <div class="col-sm-6 col-md-7 col-lg-8 jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-4 jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Dixk jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the kentire horizontal space of its parent.</p>
        </div>
    </div>
</div>-->