


<div class="row">
    <div class="col-md-5">

    </div>
<div  id="carouselExampleIndicators" class="col-md-7 carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li ng-repeat="slide in slides" data-target="#carouselExampleIndicators" data-slide-to="{{$index}}" ng-class="{active:!$index}"></li>
    </ol>
    <div class="carousel-inner" >
        <div class="carousel-item " ng-class="{'active':!$index}" ng-repeat="slide in slides">
            <div class="image-wrapper">
                <img class="d-block w-100" ng-src="{{slide}}" alt="First slide">
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-sm-8 jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
    <div class="col-sm-4  jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Dixk jumbotron</h1>
            <p class="lead">This is a modified jumbotron that occupies the kentire horizontal space of its parent.</p>
        </div>
    </div>
</div>