/* HSL */
$color1: hsla(197%, 100%, 45%, 1);
$color2: hsla(195%, 100%, 33%, 1);
$color3: hsla(22%, 100%, 98%, 1);
$color4: hsla(205%, 100%, 17%, 1);
$color5: hsla(195%, 100%, 6%, 1);

/* RGB */
$color1: rgba(0, 168, 232, 1);
$color2: rgba(0, 126, 167, 1);
$color3: rgba(255, 248, 244, 1);
$color4: rgba(0, 52, 89, 1);
$color5: rgba(0, 23, 31, 1);

@media screen and (max-width: 600px) {
  #nav-brand {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  div[id="navbar"] {
    border-top: 1px solid #ffffff1c;
    padding-left: 0;
    margin-left: 0;
  }

  nav>div>button>i[class^="fa"] {
    color: white;
    font-size: 25px;
  }



  .navbar-nav > li > a[class="nav-link"] {

    padding-bottom: 0;
  }

  .navbar-nav > li {

    margin-left: 0;
    margin-right: 0;
    text-align: center;

  }
  .image-wrapper {
    max-height: 190px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 600px) {
  #navbar {
    padding-left: 5em;
    margin-left: 5em;
  }
  .navbar-nav > li {
    padding-right: 1em;
    padding-left: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .image-wrapper {
    max-height: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  background: url("../assets/img/background.jpg");
}

body > .view-container div[class^="col"] {
  padding: 0;
}

.navbar-wrapper {
  background: $color2;
  opacity: .8;
}

.nav-logo {
  border-radius: 20px;
}

.navbar-brand > span {
  padding-left: 0.8em;
}

.navbar-nav > li > a {
  opacity: 1;
}

.navbar-nav > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a, .dropdown-menu > li {
  border-bottom: 3px solid transparent;
}

.navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .navbar-nav .open > a, .navbar-nav .open > a:focus, .navbar-nav .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  border-bottom: 3px solid transparent;
  background: none;
}

.navbar a, .dropdown-menu > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .navbar-toggle {
  color: #fff;
}

.dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-nav li:hover:nth-child(8n+1), .navbar-nav li.active:nth-child(8n+1) {
  border-bottom: #C4E17F 3px solid;
}

.navbar-nav li:hover:nth-child(8n+2), .navbar-nav li.active:nth-child(8n+2) {
  border-bottom: #F0776C 3px solid;
}

.navbar-nav li:hover:nth-child(8n+3), .navbar-nav li.active:nth-child(8n+3) {
  border-bottom: #C49CDE 3px solid;
}

.navbar-nav li:hover:nth-child(8n+4), .navbar-nav li.active:nth-child(8n+4) {
  border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar {
  color: #fff;
  background: #fff;
}

.row {
  margin: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.carousel .item {
  height: 600px;
}

.carousel-item > img {
  position: absolute;
}

.caption {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
}

.caption > h2 {
  color: white;
}